h1{
   
    
}
body{
    background-size: 100%;
    background-image: 
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(../leaves.jpg);
}
h1, h2, p, li{
    color:honeydew;
    font-weight: none;
    text-align: center;
    text-shadow: black 0 1px 4px;
}

.patrick-img{
    width: 40%;
    height: 770px;
    float: right;
    padding: 0 0 0 15px;
    border-radius: 25%;
}
li{
    list-style: none;
}
ul{
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}